head
  include head.pug
  body  
    table
      tr
        th Current
        th 3 Hour
        th 6 Hour
        th 12 Hour
        th 24 hHour
      tr
        td #{nanoResponse.data.data.hashrate}
        td #{nanoResponse.data.data.avgHashrate.h3}
        td #{nanoResponse.data.data.avgHashrate.h6}
        td #{nanoResponse.data.data.avgHashrate.h12}
        td #{nanoResponse.data.data.avgHashrate.h24}
    
  script(src="/public/index.js")
