head
  include head.pug
  body  
    table
      tr
        th Current
        th 3 Hour
        th 6 Hour
        th 12 Hour
        th 24 hHour
      tr
        td #{nanoResponse.hashrate}
        td #{nanoResponse.avgHashrate.h3}
        td #{nanoResponse.avgHashrate.h6}
        td #{nanoResponse.avgHashrate.h12}
        td #{nanoResponse.avgHashrate.h24}
    table
      tr
        th Worker
        th 3 Hour
        th 6 Hour
        th 12 Hour
        th 24 Hour
      tr
        td 
        - for (var i = nanoResponse.workers.length - 1; i >= 0; --i) {
            tr
              h6= nanoResponse.workers[i].id
            -}
        td #{nanoResponse.avgHashrate.h3}
        td #{nanoResponse.avgHashrate.h6}
        td #{nanoResponse.avgHashrate.h12}
        td #{nanoResponse.avgHashrate.h24}
        
    - for (var i = nanoResponse.workers.length - 1; i >= 0; --i) {
        tr
          td= nanoResponse.workers[i].id
        -}
    
    x
  script(src="/public/index.js")
